<footer class="footer mt-auto py-3 bg-dark text-white style=position: fixed; bottom: 0; z-index: 10;">
    <div class="container text-center">
        <p>&copy; 2024 Orchard Oasis. All rights reserved.</p>
    </div>
</footer>