@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Custom Styles */
*{
    font-family: "Poppins", sans-serif;

}
body {
    color: rgb(0, 0, 0);
    /* background-image: radial-gradient(circle, #3fdf3d, #37bc2f, #2e9b22, #247b15, #195c0a); */
    background-image: linear-gradient(to right bottom, #22577a, #007d9c, #00a4ad, #00caaa, #80ed99);
    overflow-y: scroll;
}
.btn-primary {
    /* background-color: #76a72e; */
    /* border-color: #76a72e; */
    /* background-color: #7AE582;
    border-color: #7AE582; */
    /* background-color: #000000;
        border-color: #5c7f2c; */
        background-color: #80ED99;
        border-color: #80ED99;
        color: #000000;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;

    &:active {
        /* background-color: #000000;
        border-color: #5c7f2c; */
        background-color: #004E64;
        border-color: #004E64;
        box-shadow: none;
        /* Remove default shadow */
    }

    &:hover {
        /* colo */
        background-color: #004E64;
        border-color: #004E64;
        /* color: #000000; */
    }

    &:focus {
        outline: none;
        background-color: #004E64;
        border: none;
        box-shadow: none;
    }    
}